{% extends "base_navbar.html" %}
{% block content %}
<h1>Perfil de Usuario</h1>
<p>Email: {{ user.email }}</p>
<p>Nombre de Usuario: {{ user.username }}</p>
<p>Detalles de Salud: {{ user.health_details }}</p>
<p>Actividades Preferidas: {{ user.preferred_activities }}</p>
<p>Dirección: {{ user.address }}</p>
<p>Fecha de Inicio de la Membresía: {{ user.membership_start_date }}</p>
<a class="btn btn-primary" href="{% url 'profile' %}">Editar Perfil</a>
{% endblock %}


<!-- memberships>templates>memberships>profile.html-->